* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e5e5e5;
}

.container {
    margin: 30px auto 0 auto;
    max-width: 620px;
    padding: 30px 60px 75px 45px;
    background: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
}

.title img {
    margin: 0 auto 15px auto;
    display: block;
}

.title h1 {
    text-align: center;
    font-size: 38px;
    font-family: 'Inter';
    margin-bottom: 30px;
}

.form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 25px;
}

.form label {
    display: block;
    font-family: 'Nunito';
    font-size: 16px;
    margin-bottom: 5px;
}

.form input {
    height: 40px;
    padding: 12px;
    font-family: 'Nunito';
    font-size: 18px;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.group-full-name {
    grid-column: 1/-1;
    margin-bottom: 50px;
}

.col-1 {
    grid-column: 1/2;
}

.group-email {
    margin-bottom: 40px;
}

.col-2 {
    grid-column: 2/3;
    margin-bottom: 150px;
}

.group-phone {
    margin-bottom: 40px;
}

.group-checkbox {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.group-checkbox .custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #a5a5a5;
    display: inline-block;
    border-radius: 2px;
    background: #ffffff
        url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png)
        center/1250% no-repeat;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #0dbdbd;
    border-color: #0dbdbd;
    background-size: 60%;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox .terms {
    margin: 0 5px;
    display: inline-block;
}

.button-register {
    grid-column: 2/3;
    justify-self: flex-end;
    width: 80px;
    height: 40px;
    font-family: 'Nunito';
    font-size: 16px;
    color: #ffffff;
    background: #0dbdbd;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}

.button-register:active {
    color: #0dbdbd;
    background: #ffffff;
    border: 2px solid #0dbdbd;
}

@media (max-width: 650px) {
    body {
        background: #ffffff;
    }
    .container {
        margin: 0px;
        padding: 85px 20px 80px 20px;
        border-radius: 0px;
    }
    .form {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .col-1,
    .group-checkbox {
        grid-column: 1/-1;
    }
    .col-2 {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .group-full-name,
    .col-2 {
        margin-bottom: 0px;
    }
    .group-email,
    .group-phone {
        margin-bottom: 20px;
    }
    .group-checkbox {
        margin-bottom: 35px;
    }
    .button-register {
        grid-column: 1/-1;
        width: 100%;
        height: 55px;
        font-size: 18px;
    }
}
