body {
    background: #e5e5e5;
}

.container {
    margin: 30px auto 0 auto;
    max-width: 620px;
    padding: 30px 60px 75px 45px;
    background: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
}

.title img {
    margin: 0 auto 15px auto;
    display: block;
}

.title h1 {
    text-align: center;
    font-size: 38px;
    font-family: 'Inter';
    margin-bottom: 30px;
}

.form label {
    display: block;
    font-family: 'Nunito';
    font-size: 16px;
    margin-bottom: 5px;
}

.form input {
    height: 40px;
    padding: 12px;
    font-family: 'Nunito';
    font-size: 18px;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
