body {
    background: #e5e5e5;
}

.container {
    margin: 30px auto 0 auto;
    max-width: 620px;
    padding: 30px 60px 75px 45px;
    background: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
}

.title img {
    margin: 0 auto 15px auto;
    display: block;
}

.title h1 {
    text-align: center;
    font-size: 38px;
    font-family: 'Inter';
    margin-bottom: 30px;
}
